.list-container {
  padding: 4%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 640px) {

  .mat-list-item > .mat-list-item-content {
    display: flex !important;
    flex-direction: column !important;
  }

}

.header {
  min-width: 100px;
}

.title{
  margin-top: 20px;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color:#3f51b5;
}

.content{
  background-color: #f7f7f7;
  width: max-content;
  padding: 20px;
  text-align: justify; 
  font-size: 16px;
  margin-bottom: 20px;
}

/* Overwrite of list item height */
.mat-list-item {
  height: auto !important;
}

.mat-list-item > .mat-list-item-content {
  width: max-content !important;
}





