<mat-toolbar color="primary">
  <button *ngIf="!location.isCurrentPathEqualTo('/home')"
    mat-icon-button (click)="goBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>{{toolbarTitle}}</span>
  <!--<div class="navbar-links">
    <button *ngIf="isLoggedIn == false" mat-button (click)="openLoginDialog()">Login</button>
    <button *ngIf="isLoggedIn == false" mat-button (click)="openRegisterDialog()">Register</button>
  </div>-->
  <div class="navbar-links">
    <a mat-button routerLink="/avvisi">Storico avvisi</a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="footer">
  <h4 class="mat-h4">
    Parrocchia di S.Antonio - Piazzale Sant' Antonio, 5, 46047 Porto Mantovano (MN)  - Codice fiscale: 93007890200
  </h4>
</footer>