@media (min-width: 400px) {
    .navbar-links {
        margin-left: auto;
        margin-right: 0px;
    }
}

@media (max-width: 399px) {
    .navbar-links {
        visibility: hidden;
    }
}

.footer {
    background-color: lightgrey;
    width: 100%;
    height: fit-content;
    padding: 10px 40px;
}